<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
  <video #video id="video" autoplay playsinline></video>
  <ion-button (click)="checkPlatform()">get Video</ion-button>
  <ion-button (click)="call()"> call </ion-button>
  <ion-button (click)="getDisplayMedia()"> screen share </ion-button> -->

  <div>
    <video id="device" controls autoplay #remote>
    </video>
    <video id="me" controls autoplay #me></video>
  </div>
  <ion-button color="primary" (click)="showRemote()" [disabled]="callActive">Connect</ion-button>
  <ion-button color="danger" (click)="hangup()" [disabled]="!callActive">Disconnect</ion-button>

</ion-content>
